page-event-details {
    
    .event-title {
        font-size: x-large;
        color: $color-attendize;
    }

    .event-date {
        font-size: xx-large;
    }

    .event-place {
        color: $color-tab-icon;
    }

    .card-md {
        background-image: "assets/events/first.jpg"
    }

    .item-md {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .button-md {
        box-shadow: $shadows-primary;
        -webkit-box-shadows: $shadows-primary;
    }
}
