page-event-details {
    .background-page {
        ion-card,
        .carte {
            position: relative;
            text-align: center;
        }
        .card-title {
            text-transform: uppercase;
            position: absolute;
            top: 35%;
            font-size: xx-large;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 56%;
            width: 100%;
            color: #fff;
        }
        .grid,
        .col {
            padding: 0px;
        }
        .item-md,
        .item-ios {
            background-color: transparent;
            color: inherit;
        }
        img {
            height: -webkit-fill-available;
        }
    }
    .event-date {
        font-size: xx-large;
    }
    .event-place {
        color: $color-tab-icon;
    }
    .card-md {
        background-image: "assets/events/first.jpg"
    }
    .button-md {
        box-shadow: $shadows-primary;
        -webkit-box-shadows: $shadows-primary;
    }
}