<!-- Generated template for the EventListComponent component -->
<div>
  {{text}}
  <!-- Par défault -->
  <ion-card>
    <ion-card-header>
      Explore Nearby
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <button ion-item>
          <ion-icon name="cart" item-start></ion-icon>
          Shopping
        </button>

        <button ion-item>
          <ion-icon name="beer" item-start></ion-icon>
          Pub
        </button>

        <button ion-item>
          <ion-icon name="planet" item-start></ion-icon>
          Space
        </button>

      </ion-list>
    </ion-card-content>

  </ion-card>
</div>
