page-events-list {
    $shadows : 0 6px 15px rgba(36,37,38,0.08);
    
    .card-md {
        border-radius: 16px;
        box-shadow: $shadows;
        // background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
        // background-image: url('../assets/events/first.jpg');
    }

    .content-md {
        // background: #009688;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    
}
