page-home {
    .content-md {
        background-color: $color-attendize;
    }
    .card-md h2 {
        font-weight: bolder;
        font-size: larger;
        color: black;
    }
    .card-header-md {
        background-color: $color-tab-icon;
        color: white;
    }
    .swiper-slide img {
        width: 100%;
        image-rendering: pixelated;
    }
}