<!--
  Generated template for the TicketsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tickets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngIf="qrcodeValue; else emptyTickets">
    <ion-slides pager>

      <ion-slide *ngFor="let item of qrcodeValue">
        <ion-card>
          <ion-card-header text-left>
            <h2>UX Conference</h2>
            à Cadjehoun, Cotonou
            <br> du 17 au 22 septembre
            <br> 09h:00 - 14h:30
          </ion-card-header>

          <ion-card-content>
            <ngx-qrcode [qrc-value]="item" [qrc-element-type]="elementType"></ngx-qrcode>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <h2>Ticket 3</h2>
      </ion-slide>

    </ion-slides>
  </ng-container>
  <ng-template #emptyTickets>

  </ng-template>


</ion-content>
